* {
    margin: 0 auto 0 auto;
}
body{
    width: 80vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headers, .footer{
    display:inline-block;
    border-bottom: 1px solid black;
    font-size: 20pt;
    width: 80vw;
    margin: 10px;
}
.headers ul{
    list-style: none;
}
.headers ul li{
    display: inline-block;
    margin: 5px;
}
.headers ul li a{
    text-decoration: none;
    color:black;
}
.headers ul li a:hover{
    color: darkgray;
}
.pic{
    float: left;
    margin-right: 10px;
}
.pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name{
    float: left;
    margin-top: 50px;
}
.menu{
    float: right;
}
.aboutme, .education, .skills{
    margin-top: 50px;
    border-bottom: 1px solid black;
    font-size: 16pt;
    width: 80vw;

}
.aboutme p{
    text-align: justify;
    margin: 10px;
}
.aboutme, .education, .skills h2{
    text-align: left;
    margin-bottom: 20px;
}
.education ul li{
    margin: 20px;
    list-style:circle;
}
.skills{
    display: inline-block;
}
.skills ul li{
    margin: 5px;
    list-style:none;
}
.tech{
    float: left;
}
.project{
    float: right;
}
.footer{
    font-size: 15pt;
    border: none;
}
.copyright{
    float: right;
}
.contact-info{
    float: left;
    color: black;
    margin: 3px;
}
.footer a{
    text-decoration: none;
    color:black;
    margin: 5px;
    font-size: 16pt;
}
.footer a:hover{
    color: darkgray;
}
.contact{
    padding: 50px 0;
    text-align: center;
    display: block;
    color: black;
    font-size: 16pt;
}
form input,
form textarea,
form button {
    display: block;
    width: 80vw;
    margin-bottom: 20px;
    padding: 10px;
}